div.calc-container.clearfix
  div.input-group
    input(type="number", ng-model="numberField", data-number-field)

  div.digits
    button(type="button", ng-repeat="num in nums", ng-click="addNumber(num.name)", ng-class="{ \'{{num.className}}\': num.className}").btn {{num.name}}
    button(type="button", ng-click="resetCalculator()", ng-bind="resetText").btn.reset C
  div.operators
    button(type="button", ng-class="{\'active\': activeOperator == \'divide\'}", ng-click="operator(\'divide\')").btn /
    button(type="button", ng-class="{\'active\': activeOperator == \'multiply\'}", ng-click="operator(\'multiply\')").btn *
    button(type="button", ng-class="{\'active\': activeOperator == \'subsctract\'}", ng-click="operator(\'substract\')").btn -
    button(type="button", ng-class="{\'active\': activeOperator == \'add\'}", ng-click="operator(\'add\')").btn +
    button(type="button", ng-click="equals()").btn =
