doctype html
html(lang="en")
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    //base(href="/")
    title Easy calculator
    link(type="text/css", rel="stylesheet",
      href="./bower_components/normalize-css/normalize.css")
    link(type="text/css", rel="stylesheet", href="./build/style.css")

  body(data-ng-app="app", style="background:black;")
    div.container
      calculator

    script(type="text/javascript", src="./bower_components/angular/angular.js")
    script(src="./build/easy-calculator.js")
